@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: white;
}

/* Set default font and text color */
@layer base {
    html, body {
      font-family: 'Clash Display', sans-serif; /* Replace with your desired font */
      color: #2A254B; /* Replace with your desired text color */
    }
  }
  